<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>digging-admin : perfume</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>thumbnailImageUrl</th>
        <th>brandName</th>
    </tr>
    <tr th:each="perfumeSimpleVo: ${perfumeSimpleVoPage}">
        <td th:text="${perfumeSimpleVo.id}"/>
        <td th:text="${perfumeSimpleVo.name}"/>
        <td th:text="${perfumeSimpleVo.thumbnailImageUrl}"/>
        <td th:text="${perfumeSimpleVo.brandName}"/>
    </tr>
</table>
</body>
</html>